html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-transition: all 1s;
    transition: all 1s;
}

a {
    color: #fff;
}

.map-vendors .card img {
    height: 100px;
    width: auto;
    margin: auto;
    max-width: 100%;
    @media screen and (max-width: 991px) {
       height: auto;
    }
}

.card>.list-group>.list-group-item {
    color: hsla(208, 100%, 45%, 1);
}

.card>.list-group>.list-group-item:hover {
    background-color: hsla(0, 0%, 86%, 1);
    text-decoration: underline;
    cursor: pointer;
}

.card>.list-group>.list-group-item.active {
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(211, 100%, 50%, 0.63);
    border-radius: 0 !important;
}

.map-container {
    height: 100%;
    min-height: 450px;
    max-height: 100vh;
}

.map-container #map {
    height: 100%;
}

#busStopsSection {
    display: none;
}

#busStops {
    max-height: 197px;
    overflow: auto;
    -webkit-box-shadow: 0 2px 15px 2px #dfdddd;
    box-shadow: 0 2px 15px 2px #dfdddd;
}

#busStops li:hover {
    background-color: hsla(0, 0%, 86%, 1);
    cursor: pointer;
}

/* Google Maps Specific */

.map-ctrl-outer {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}

.map-ctrl-inner {
    color: rgb(25, 25, 25);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}

.map-ctrl-outer:hover,
.map-ctrl-inner:hover {
    color: rgba(128, 128, 128, 0.78);
}

/* Esri Map Specifcs */
#HomeButton {
    position: absolute;
    top: 95px;
    left: 35px;
    z-index: 50;
}

#LocateButton {
    position: absolute;
    top: 140px;
    left: 35px;
    z-index: 50;
}
